In [19]:
# import 싹 다 하는 곳

import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt 
import seaborn as sns  
%matplotlib inline

import re
from konlpy.tag import Okt
from nltk.tokenize import word_tokenize

#!pip install tomotopy
import tomotopy as tp

from sklearn.preprocessing import StandardScaler

# Train Set 모델 학습
- H2O AutoML로 학습한 모델은 Export를 지원하지 않음
- 따라서 전처리가 완료된 Train Set을 불러와서 여기서 다시 학습시킨 뒤 Test Set에 적용

# 모델 학습

In [34]:
x_train = pd.read_csv('train_x.csv', index_col=0)
y_train = pd.read_csv('train_y.csv', index_col='CUS_ID')

In [21]:
# H2O 환경 설치

!pip install requests
!pip install tabulate
!pip install “colorama>=0.3.8”
!pip install future

!pip install -f http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html h2o
    
import h2o
h2o.init(nthreads=-1, max_mem_size=8)

Requirement already satisfied: requests in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (2.24.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: tabulate in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (0.8.7)
zsh:1: 0.3.8” not found
Requirement already satisfied: future in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (0.18.2)
Looking in links: http://h2o-release.s3.amazonaws.com/h2o/latest_stable_Py.html
Requirement already satisfied: h2o in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (3.32.0.2)
Requirement already satisfied: requests in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from h2o) (2.24.0)
Requirement already satisfied: tabulate in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from h2o) (0.8.7)
Requirement already satisfied: future in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from h2o) (0.18.2)
Requirement already satisfied: colorama>=0.3.8 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from h2o) (0.4.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests->h2o) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests->h2o) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests->h2o) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /Users/kwonsoonjae/opt/anaconda3/lib/python3.8/site-packages (from requests->h2o) (3.0.4)
Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         6 days 17 hours 11 mins
H2O_cluster_timezone:       Asia/Seoul
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.0.2
H2O_cluster_version_age:    1 month and 4 days
H2O_cluster_name:           H2O_from_python_kwonsoonjae_acm1pt
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    620 Mb
H2O_cluster_total_cores:    12
H2O_cluster_allowed_cores:  12
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.3 final
--------------------------  ------------------------------------------------------------------

In [64]:
from h2o.sklearn import H2OAutoMLClassifier

aml = H2OAutoMLClassifier(max_models=20, max_runtime_secs=500, seed=1, sort_metric='logloss')
aml.fit(x_train, y_train)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
AutoML progress: |████████████████████████████████████████████████████████| 100%

H2OAutoMLClassifier(max_models=20, max_runtime_secs=500, seed=1,
                    sort_metric='logloss')

In [65]:
# 모델 세부 정보

aml.estimator.leader.summary

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_5_AutoML_20201223_235705


Model Summary:

,,number_of_trees,number_of_internal_trees,model_size_in_bytes,min_depth,max_depth,mean_depth,min_leaves,max_leaves,mean_leaves
0,,40.0,240.0,46360.0,4.0,9.0,6.1125,9.0,12.0,10.679167

ModelMetricsMultinomial: gbm
** Reported on train data. **

MSE: 0.38179062726555374
RMSE: 0.6178920838346723
LogLoss: 1.0057831928582184
Mean Per-Class Error: 0.36550845772976603

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

    F20-    F30   F40+  M20-    M30   M40+     Error         Rate
0  121.0    9.0    6.0   2.0   21.0   10.0  0.284024     48 / 169
1   11.0  146.0    8.0   1.0   34.0   44.0  0.401639     98 / 244
2    4.0   12.0  107.0   3.0   25.0   76.0  0.528634    120 / 227
3   11.0    8.0    0.0  70.0   38.0   36.0  0.570552     93 / 163
4    9.0   18.0    4.0   7.0  311.0   78.0  0.271663    116 / 427
5    3.0   11.0    6.0   5.0   46.0  449.0  0.136538     71 / 520
6  159.0  204.0  131.0  88.0  475.0  693.0  0.312000  546 / 1,750

Top-6 Hit Ratios:

   k  hit_ratio
0  1   0.688000
1  2   0.877143
2  3   0.955429
3  4   0.990857
4  5   0.997714
5  6   1.000000

ModelMetricsMultinomial: gbm
** Reported on cross-validation data. **

MSE: 0.5390484618009223
RMSE: 0.7341991976302632
LogLoss: 1.4776850689584944
Mean Per-Class Error: 0.6574315322187921

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

    F20-    F30   F40+  M20-    M30   M40+     Error           Rate
0   66.0   30.0    7.0   5.0   35.0   26.0  0.609467      103 / 169
1   34.0   61.0   19.0   3.0   64.0   63.0  0.750000      183 / 244
2   17.0   17.0   43.0   5.0   38.0  107.0  0.810573      184 / 227
3   23.0    9.0    3.0  15.0   61.0   52.0  0.907975      148 / 163
4   16.0   40.0   14.0  18.0  190.0  149.0  0.555035      237 / 427
5    6.0   22.0   24.0  11.0   99.0  358.0  0.311538      162 / 520
6  162.0  179.0  110.0  57.0  487.0  755.0  0.581143  1,017 / 1,750

Top-6 Hit Ratios:

   k  hit_ratio
0  1   0.418857
1  2   0.647429
2  3   0.769143
3  4   0.887429
4  5   0.958857
5  6   1.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.41885716,0.033110823,0.3857143,0.42857143,0.47142857,0.40571427,0.40285715
1,err,0.58114284,0.033110823,0.6142857,0.5714286,0.5285714,0.5942857,0.5971429
2,err_count,203.4,11.588788,215.0,200.0,185.0,208.0,209.0
3,logloss,1.4776851,0.048987035,1.5414658,1.4730453,1.4041641,1.4842887,1.4854615
4,max_per_class_error,0.9070779,0.065871656,0.9166667,0.95238096,0.7916667,0.9318182,0.94285715
5,mean_per_class_accuracy,0.34533978,0.04186723,0.30995435,0.3411797,0.41678423,0.33741972,0.32136086
6,mean_per_class_error,0.6546602,0.04186723,0.69004565,0.65882033,0.5832158,0.66258025,0.6786391
7,mse,0.53904843,0.017016819,0.5631066,0.53369695,0.51583683,0.54228294,0.5403189
8,r2,0.81789637,0.012691852,0.8075233,0.8306606,0.82606655,0.8014067,0.8238247
9,rmse,0.7341261,0.011585729,0.7504043,0.7305457,0.71821785,0.73639864,0.7350639

Scoring History:

,,timestamp,duration,number_of_trees,training_rmse,training_logloss,training_classification_error
0,,2020-12-23 23:58:00,2.876 sec,0.0,0.833333,1.791759,0.806857
1,,2020-12-23 23:58:00,2.948 sec,5.0,0.781499,1.547003,0.525143
2,,2020-12-23 23:58:00,3.025 sec,10.0,0.744981,1.413127,0.493714
3,,2020-12-23 23:58:00,3.115 sec,15.0,0.717036,1.318365,0.469714
4,,2020-12-23 23:58:00,3.200 sec,20.0,0.693659,1.241144,0.430286
5,,2020-12-23 23:58:00,3.290 sec,25.0,0.672228,1.172910,0.399429
6,,2020-12-23 23:58:00,3.374 sec,30.0,0.653535,1.113727,0.371429
7,,2020-12-23 23:58:00,3.461 sec,35.0,0.635277,1.058129,0.347429
8,,2020-12-23 23:58:00,3.557 sec,40.0,0.617892,1.005783,0.312000

Variable Importances:

   variable  relative_importance  scaled_importance  percentage
0        47           174.726974           1.000000    0.085801
1         9           165.453598           0.946926    0.081248
2        28            92.425095           0.528969    0.045386
3        35            81.669731           0.467413    0.040105
4        15            77.236153           0.442039    0.037928
5         8            70.987175           0.406275    0.034859
6        45            64.538681           0.369369    0.031692
7         4            55.877018           0.319796    0.027439
8        41            54.989281           0.314715    0.027003
9         1            53.314983           0.305133    0.026181
10       27            50.904812           0.291339    0.024997
11       51            47.651711           0.272721    0.023400
12       24            47.245499           0.270396    0.023200
13       25            46.180340           0.264300    0.022677
14       31            45.941509           0.262933    0.022560
15       44            44.969612           0.257371    0.022083
16       49            43.918854           0.251357    0.021567
17       39            42.906063           0.245561    0.021069
18       42            41.703327           0.238677    0.020479
19       14            41.086002           0.235144    0.020176

See the whole table with table.as_data_frame()

In [66]:
# AutoML 리더보드 확인

aml.estimator.leaderboard

model_id,logloss,mean_per_class_error,rmse,mse
GBM_5_AutoML_20201223_235705,1.47769,0.657432,0.734199,0.539048
StackedEnsemble_BestOfFamily_AutoML_20201223_235705,1.48839,0.686047,0.736485,0.54241
GBM_grid__1_AutoML_20201223_235705_model_2,1.50556,0.695958,0.735621,0.541138
XGBoost_grid__1_AutoML_20201223_235705_model_3,1.51884,0.675917,0.73007,0.533002
GBM_2_AutoML_20201223_235705,1.52815,0.678666,0.732037,0.535878
GBM_grid__1_AutoML_20201223_235705_model_1,1.53286,0.696206,0.74028,0.548014
GBM_4_AutoML_20201223_235705,1.53608,0.678854,0.734098,0.538899
GBM_1_AutoML_20201223_235705,1.54639,0.686612,0.742178,0.550828
GBM_3_AutoML_20201223_235705,1.54682,0.678643,0.736082,0.541817
XGBoost_grid__1_AutoML_20201223_235705_model_1,1.54878,0.675253,0.73156,0.535179

# Test Set 적용 결과

# Click_Streams 전처리

In [5]:
# Clickstream Data
click = pd.read_csv('test_clickstreams.tab', sep='\t', encoding='cp949')

In [6]:
#<접속 카테고리 분석>

# 유저별 BACT(대분류)별 사용 시간 비율

# 유저별 BACT_NM카테고리별 총 사용 시간 그룹핑
sum_catag = click['ST_TIME'].groupby([click['CUS_ID'], click['BACT_NM']]).sum()
# 유저별 총 사용 시간 
cus_time_sum =  click['ST_TIME'].groupby(click['CUS_ID']).sum()
# 유저별 BACK_NM 카테고리별 총 체류시간을 해당 유저의 총 인터넷 체류시간에 대한 비율로 변환
cus_bact_time_percent = sum_catag / cus_time_sum
# unstack 및 NAN을 0으로 변환
cus_bact_time_percent_unstack = cus_bact_time_percent.unstack()
cus_bact_time_percent_fin = cus_bact_time_percent_unstack.fillna(0)
# 결과: cus별 BACT_NM별 ST_TIME 합계의 RATIO 
cus_bact_time_percent_fin

BACT_NM,건강/의학,게임,교육/학원,금융/부동산,뉴스/미디어,문학/예술,비즈니스/경제,사회/문화/종교,생활/가정/취미,서비스,...,엔터테인먼트,여행,온라인교육,유통/판매/운송,인터넷/컴퓨터,정보통신/IT,정치/행정,제조,커뮤니티,학문
CUS_ID,,,,,,,,,,,,,,,,,,,,,
2501,0.000181,0.000000,0.000636,0.055406,0.054414,0.000000,0.000579,0.000000,0.000057,0.016165,...,0.002725,0.006464,0.008972,0.008182,0.395314,0.013338,0.008975,0.001423,0.224609,0.000000
2502,0.000072,0.000089,0.000179,0.019543,0.034199,0.000495,0.000915,0.000000,0.001034,0.002227,...,0.370463,0.000048,0.001938,0.000030,0.493805,0.003537,0.007556,0.003480,0.015284,0.000000
2503,0.000000,0.000416,0.000000,0.002904,0.001204,0.000000,0.001912,0.000096,0.007891,0.000048,...,0.008843,0.000000,0.001608,0.009947,0.533724,0.001000,0.000000,0.008103,0.385037,0.000000
2504,0.000119,0.000004,0.001935,0.032544,0.094709,0.000000,0.000929,0.003094,0.000103,0.001129,...,0.089119,0.000000,0.027247,0.000838,0.431924,0.002804,0.021821,0.000349,0.228498,0.000000
2505,0.043084,0.000807,0.000000,0.000194,0.117244,0.000000,0.092897,0.000000,0.000000,0.000000,...,0.011435,0.000000,0.000583,0.001770,0.462132,0.000000,0.008012,0.000233,0.096825,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0.000002,0.000000,0.000000,0.045787,0.053583,0.000000,0.044608,0.000000,0.003882,0.001208,...,0.001247,0.000517,0.001706,0.001290,0.676631,0.003472,0.006519,0.000824,0.017726,0.000000
4997,0.000289,0.015467,0.000000,0.006654,0.048340,0.000000,0.010703,0.000098,0.000364,0.003209,...,0.007511,0.044384,0.000036,0.000467,0.199182,0.000587,0.006903,0.004045,0.544038,0.000000
4998,0.001919,0.543874,0.000098,0.007627,0.003875,0.000000,0.037176,0.000000,0.000000,0.021307,...,0.003248,0.001919,0.000000,0.000000,0.291602,0.002829,0.000000,0.003186,0.050819,0.000000
4999,0.000216,0.000410,0.214991,0.000000,0.014159,0.000000,0.009040,0.003203,0.000912,0.232146,...,0.000564,0.001212,0.101337,0.000207,0.221613,0.017376,0.001119,0.003494,0.054871,0.000000
5000,0.003144,0.000000,0.002761,0.014601,0.023994,0.000000,0.000015,0.011586,0.032645,0.008093,...,0.031768,0.002840,0.013604,0.000075,0.635423,0.000693,0.004639,0.003907,0.069083,0.001719

In [7]:
#<시간 분석> : 유저별 시간대별 총 체류 시간

click_c = click[['CUS_ID', 'TIME_ID', 'ST_TIME', 'BACT_NM']]
# 뒷 두자리 시간만 추출하기 위해, TIME_ID를 숫자->문자열로 변경
click_c['TIME_ID'] = click_c['TIME_ID'].astype(str)
# TIME_ID 뒷 두자리만 추출하여 TIME_ID_slice 열로 생성
click_c['TIME_ID_slice'] = click_c['TIME_ID'].str.slice(start=8, stop=11)
# TIME_ID_slice를 문자열 -> 숫자열로 변환한 신규 데이터프레임 click_c_new 생성
click_c_new = click_c.astype({'CUS_ID':int, 'TIME_ID':object, 'ST_TIME':float, 'BACT_NM':object, 'TIME_ID_slice':int})
# 24시간을 4가지 시간대로 구분: 1(새벽; 1~6시), 2(오전; 7~12시 ), 3(오후; 13시~18시), 4(밤, 19시~24시)
conditionlist = [
    (click_c_new['TIME_ID_slice'] >= 19) ,
    (click_c_new['TIME_ID_slice'] >= 13 ) & (click_c_new['TIME_ID_slice'] < 19),
    (click_c_new['TIME_ID_slice'] >= 7 ) & (click_c_new['TIME_ID_slice'] < 13),
    (click_c_new['TIME_ID_slice'] < 7)]
choicelist = [4, 3, 2, 1]
click_c_new['TIME_GROUP'] = np.select(conditionlist, choicelist, default='Not Specified')
# 유저에 따른 시간대별 총 체류시간으로 데이터 그룹핑 및 재배열
click_c_new_time = click_c_new['ST_TIME'].groupby([click_c_new['CUS_ID'], click_c_new['TIME_GROUP']]).sum()
click_c_new_time_unstack = click_c_new_time.unstack()
click_timegroup_fin = click_c_new_time_unstack.fillna(0)
# 컬럼 이름 변경
click_timegroup_fin.columns  = ["T1", "T2", "T3", "T4"]
# 결과: T1(새벽; 1시~6시), T2(오전; 7시~12시 ), T3(오후; 13시~18시), T4(밤; 19시~24시)
click_timegroup_fin

<ipython-input-7-5ea92b81ca08>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  click_c['TIME_ID'] = click_c['TIME_ID'].astype(str)
<ipython-input-7-5ea92b81ca08>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  click_c['TIME_ID_slice'] = click_c['TIME_ID'].str.slice(start=8, stop=11)

              T1        T2        T3        T4
CUS_ID
2501     21250.0   94529.0  183141.0   32776.0
2502         0.0  248581.0  353388.0    6443.0
2503     18565.0   24991.0   81987.0  124485.0
2504    128673.0   35184.0  155192.0  184829.0
2505     13368.0    4023.0    8544.0   76910.0
...          ...       ...       ...       ...
4996      5854.0   48312.0  277314.0  134508.0
4997      6026.0   96255.0   50278.0   72431.0
4998      6244.0    7195.0   23782.0   44068.0
4999      5232.0   51346.0   63141.0  107267.0
5000     12057.0   31739.0  100946.0   55929.0

[2500 rows x 4 columns]

In [8]:
#<유저의 전반적 사용 행태> :  유저 개인별 인터넷 평균 사용 시간

# 개인별(CUS_ID) 사이트 방문 횟수(SITE_CNT)와 체류시간(ST_TIME)의 각 합계를 구함
cusid_usetime= click.groupby(['CUS_ID'])['SITE_CNT','ST_TIME'].sum()
# 데이터 수집기간 동안 개인별 평균 체류 시간 열(USE_TIME_AVG) 생성
cusid_usetime['USE_TIME_AVG'] = cusid_usetime['ST_TIME']/cusid_usetime['SITE_CNT']
# CUS_ID와 USE_TIME_AVG만 남김
cusid_usetime = cusid_usetime.drop(['SITE_CNT', 'ST_TIME'], axis=1)
# 결과
cusid_usetime

<ipython-input-8-79eb2aa51de4>:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  cusid_usetime= click.groupby(['CUS_ID'])['SITE_CNT','ST_TIME'].sum()

        USE_TIME_AVG
CUS_ID
2501       19.822865
2502       29.837281
2503       20.832195
2504       25.042394
2505       33.090412
...              ...
4996       26.436036
4997       26.893378
4998       36.080337
4999       28.717864
5000       27.933046

[2500 rows x 1 columns]

In [11]:
# <최종 생성 변수>

#최종결과 1. 카테고리(BACT) & 시간대 & 유저 전반적 행태를 Profile과 병합

# 시간대 & 유저 전반적 행태 병합
time_final = pd.merge(click_timegroup_fin, cusid_usetime , left_index=True, right_index=True, how='outer')
# 카테고리(BACT) & 시간대 & 유저 전반적 행태 병합
click_final = pd.merge(time_final, cus_bact_time_percent_fin, left_index=True, right_index=True, how='outer')
# 결과
click_final

,T1,T2,T3,T4,USE_TIME_AVG,건강/의학,게임,교육/학원,금융/부동산,뉴스/미디어,...,엔터테인먼트,여행,온라인교육,유통/판매/운송,인터넷/컴퓨터,정보통신/IT,정치/행정,제조,커뮤니티,학문
CUS_ID,,,,,,,,,,,,,,,,,,,,,
2501,21250.0,94529.0,183141.0,32776.0,19.822865,0.000181,0.000000,0.000636,0.055406,0.054414,...,0.002725,0.006464,0.008972,0.008182,0.395314,0.013338,0.008975,0.001423,0.224609,0.000000
2502,0.0,248581.0,353388.0,6443.0,29.837281,0.000072,0.000089,0.000179,0.019543,0.034199,...,0.370463,0.000048,0.001938,0.000030,0.493805,0.003537,0.007556,0.003480,0.015284,0.000000
2503,18565.0,24991.0,81987.0,124485.0,20.832195,0.000000,0.000416,0.000000,0.002904,0.001204,...,0.008843,0.000000,0.001608,0.009947,0.533724,0.001000,0.000000,0.008103,0.385037,0.000000
2504,128673.0,35184.0,155192.0,184829.0,25.042394,0.000119,0.000004,0.001935,0.032544,0.094709,...,0.089119,0.000000,0.027247,0.000838,0.431924,0.002804,0.021821,0.000349,0.228498,0.000000
2505,13368.0,4023.0,8544.0,76910.0,33.090412,0.043084,0.000807,0.000000,0.000194,0.117244,...,0.011435,0.000000,0.000583,0.001770,0.462132,0.000000,0.008012,0.000233,0.096825,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,5854.0,48312.0,277314.0,134508.0,26.436036,0.000002,0.000000,0.000000,0.045787,0.053583,...,0.001247,0.000517,0.001706,0.001290,0.676631,0.003472,0.006519,0.000824,0.017726,0.000000
4997,6026.0,96255.0,50278.0,72431.0,26.893378,0.000289,0.015467,0.000000,0.006654,0.048340,...,0.007511,0.044384,0.000036,0.000467,0.199182,0.000587,0.006903,0.004045,0.544038,0.000000
4998,6244.0,7195.0,23782.0,44068.0,36.080337,0.001919,0.543874,0.000098,0.007627,0.003875,...,0.003248,0.001919,0.000000,0.000000,0.291602,0.002829,0.000000,0.003186,0.050819,0.000000
4999,5232.0,51346.0,63141.0,107267.0,28.717864,0.000216,0.000410,0.214991,0.000000,0.014159,...,0.000564,0.001212,0.101337,0.000207,0.221613,0.017376,0.001119,0.003494,0.054871,0.000000
5000,12057.0,31739.0,100946.0,55929.0,27.933046,0.003144,0.000000,0.002761,0.014601,0.023994,...,0.031768,0.002840,0.013604,0.000075,0.635423,0.000693,0.004639,0.003907,0.069083,0.001719

# Search_Keywords 전처리

In [12]:
search = pd.read_csv('test_searchkeywords.tab', sep='\t', encoding='cp949')

In [13]:
# 검색어에서 명사 추출 후 유저별로 정리

new_list = []
for text in search['QRY_STR']: 
    if '&query=' in text: new_list.append(text[re.search('&query=', text).end():])
    elif '&sm=top' in text: new_list.append(text[:re.search('&sm=top', text).start()])
    else: new_list.append(text)
search['str'] = new_list

Okt = Okt()
search['명사'] =search['str'].apply(Okt.nouns)
search['명사2'] = search['명사'] * search['QRY_CNT'].astype(int)
search2 = search.groupby('CUS_ID')['명사2'].sum()

In [14]:
# LDA를 활용한 토픽 모델링

model = tp.LDAModel(k=30, alpha=0.1, eta=0.01, min_cf=3, tw=tp.TermWeight.IDF)
for i in search2:
    if len(i) == 0: model.add_doc([''])
    model.add_doc(i)
model.train(200)

buckets = [[] for _ in range(model.k)]
for d in model.docs:
    for i in range(model.k):
        buckets[i].append(d.get_topic_dist()[i])

probs = pd.DataFrame(search2)
for i in range(model.k):
    probs[i] = buckets[i]
probs = probs.drop('명사2', axis=1)

In [15]:
probs

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
CUS_ID,,,,,,,,,,,,,,,,,,,,,
2501,0.008937,0.008928,0.000068,0.092212,0.000014,0.000030,0.000080,0.000121,0.029528,0.087748,...,0.208550,0.005934,0.000140,0.000027,0.052251,0.000117,0.000058,0.124980,0.000092,0.041544
2502,0.014042,0.107277,0.000102,0.041466,0.000021,0.000045,0.009445,0.034957,0.054490,0.000986,...,0.012091,0.064721,0.000211,0.015813,0.000072,0.050857,0.011325,0.129975,0.011675,0.149208
2503,0.000054,0.000180,0.022451,0.029319,0.000015,0.000032,0.001361,0.000128,0.061671,0.194406,...,0.017232,0.013233,0.000148,0.000028,0.223429,0.057064,0.000061,0.068786,0.000097,0.040242
2504,0.003485,0.000089,0.025274,0.000060,0.000007,0.000016,0.161069,0.000063,0.052545,0.002050,...,0.081163,0.041973,0.037780,0.000014,0.023786,0.003190,0.011746,0.000047,0.017301,0.061335
2505,0.000112,0.033414,0.000148,0.003952,0.000030,0.000065,0.000175,0.000264,0.013086,0.046228,...,0.000339,0.022429,0.020020,0.000058,0.130776,0.299061,0.000127,0.000196,0.073883,0.058940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0.227076,0.000565,0.024022,0.018438,0.000046,0.000099,0.000265,0.047013,0.000844,0.049306,...,0.000513,0.000490,0.135693,0.000088,0.000159,0.040979,0.125661,0.045458,0.000305,0.013094
4997,0.158723,0.055474,0.034040,0.103926,0.000017,0.000036,0.000096,0.000144,0.047385,0.031907,...,0.013569,0.008726,0.002926,0.000032,0.056075,0.000140,0.000069,0.018464,0.106956,0.057078
4998,0.000259,0.000860,0.000341,0.008670,0.000070,0.000151,0.000404,0.055799,0.054541,0.104148,...,0.070252,0.000746,0.056092,0.000134,0.000242,0.024236,0.000293,0.000453,0.000464,0.061816
4999,0.005571,0.000082,0.068039,0.000206,0.000007,0.000014,0.000038,0.018084,0.000122,0.083153,...,0.046056,0.046954,0.091752,0.000013,0.000023,0.001976,0.011009,0.000043,0.013081,0.103162
5000,0.036768,0.046988,0.030512,0.000204,0.000024,0.000647,0.000141,0.000213,0.085201,0.050668,...,0.036035,0.046210,0.000247,0.057981,0.049957,0.027843,0.000102,0.011602,0.059615,0.059459

# 결과 예측

In [45]:
# Click 데이터와 Search 데이터 병합

click = click_final
search = probs

test = pd.merge(click, search, left_index=True, right_index=True, how='outer')
test = test.fillna(0)

test

,T1,T2,T3,T4,USE_TIME_AVG,건강/의학,게임,교육/학원,금융/부동산,뉴스/미디어,...,20,21,22,23,24,25,26,27,28,29
CUS_ID,,,,,,,,,,,,,,,,,,,,,
2501,21250.0,94529.0,183141.0,32776.0,19.822865,0.000181,0.000000,0.000636,0.055406,0.054414,...,0.208550,0.005934,0.000140,0.000027,0.052251,0.000117,0.000058,0.124980,0.000092,0.041544
2502,0.0,248581.0,353388.0,6443.0,29.837281,0.000072,0.000089,0.000179,0.019543,0.034199,...,0.012091,0.064721,0.000211,0.015813,0.000072,0.050857,0.011325,0.129975,0.011675,0.149208
2503,18565.0,24991.0,81987.0,124485.0,20.832195,0.000000,0.000416,0.000000,0.002904,0.001204,...,0.017232,0.013233,0.000148,0.000028,0.223429,0.057064,0.000061,0.068786,0.000097,0.040242
2504,128673.0,35184.0,155192.0,184829.0,25.042394,0.000119,0.000004,0.001935,0.032544,0.094709,...,0.081163,0.041973,0.037780,0.000014,0.023786,0.003190,0.011746,0.000047,0.017301,0.061335
2505,13368.0,4023.0,8544.0,76910.0,33.090412,0.043084,0.000807,0.000000,0.000194,0.117244,...,0.000339,0.022429,0.020020,0.000058,0.130776,0.299061,0.000127,0.000196,0.073883,0.058940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,5854.0,48312.0,277314.0,134508.0,26.436036,0.000002,0.000000,0.000000,0.045787,0.053583,...,0.000513,0.000490,0.135693,0.000088,0.000159,0.040979,0.125661,0.045458,0.000305,0.013094
4997,6026.0,96255.0,50278.0,72431.0,26.893378,0.000289,0.015467,0.000000,0.006654,0.048340,...,0.013569,0.008726,0.002926,0.000032,0.056075,0.000140,0.000069,0.018464,0.106956,0.057078
4998,6244.0,7195.0,23782.0,44068.0,36.080337,0.001919,0.543874,0.000098,0.007627,0.003875,...,0.070252,0.000746,0.056092,0.000134,0.000242,0.024236,0.000293,0.000453,0.000464,0.061816
4999,5232.0,51346.0,63141.0,107267.0,28.717864,0.000216,0.000410,0.214991,0.000000,0.014159,...,0.046056,0.046954,0.091752,0.000013,0.000023,0.001976,0.011009,0.000043,0.013081,0.103162
5000,12057.0,31739.0,100946.0,55929.0,27.933046,0.003144,0.000000,0.002761,0.014601,0.023994,...,0.036035,0.046210,0.000247,0.057981,0.049957,0.027843,0.000102,0.011602,0.059615,0.059459

In [46]:
sc = StandardScaler()
sc.fit(test)
test_final = sc.transform(test)    # data의 표준화
test_final = pd.DataFrame(test_final, columns=test.columns, index=list(test.index.values))

test_final

,T1,T2,T3,T4,USE_TIME_AVG,건강/의학,게임,교육/학원,금융/부동산,뉴스/미디어,...,20,21,22,23,24,25,26,27,28,29
2501,-0.188265,-0.344382,-0.076647,-0.452173,-0.592489,-0.191895,-0.275147,-0.237237,0.187383,-0.311471,...,2.517011,-0.551747,-0.692884,-0.179646,0.494305,-0.558491,-0.271734,1.700993,-0.471549,-0.186549
2502,-0.467983,0.654472,0.807370,-0.706643,0.401420,-0.205995,-0.273688,-0.263924,-0.253338,-0.501415,...,-0.393532,0.687409,-0.691505,0.141058,-0.311744,0.640281,-0.071165,1.786790,-0.234352,1.716720
2503,-0.223608,-0.795258,-0.601895,0.434063,-0.492315,-0.215387,-0.268306,-0.274387,-0.457812,-0.811436,...,-0.317382,-0.397887,-0.692729,-0.179612,3.138661,0.786928,-0.271675,0.735913,-0.471441,-0.209562
2504,1.225767,-0.729168,-0.221774,1.017201,-0.074462,-0.199923,-0.275082,-0.161381,-0.093572,0.067142,...,0.629769,0.207907,0.038720,-0.179905,0.054590,-0.485880,-0.063662,-0.444617,-0.119137,0.163319
2505,-0.292017,-0.931212,-0.983252,-0.025681,0.724285,5.379939,-0.261874,-0.274387,-0.491105,0.278880,...,-0.567650,-0.204053,-0.306475,-0.179003,1.707364,6.504283,-0.270506,-0.442044,1.039576,0.120971
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,-0.390926,-0.644047,0.412351,0.530921,0.063854,-0.215108,-0.275147,-0.274387,0.069169,-0.319283,...,-0.565071,-0.666495,1.941855,-0.178399,-0.310404,0.406910,1.964207,0.335274,-0.467193,-0.689473
4997,-0.388662,-0.333191,-0.766546,-0.068964,0.109244,-0.177868,-0.020747,-0.274387,-0.411730,-0.368546,...,-0.371646,-0.492886,-0.638740,-0.179541,0.553386,-0.557954,-0.271534,-0.128322,1.716845,0.088067
4998,-0.385792,-0.910645,-0.904128,-0.343052,1.021029,0.033843,8.670265,-0.268640,-0.399767,-0.786338,...,0.468125,-0.661096,0.394661,-0.177465,-0.309119,0.011345,-0.267555,-0.437641,-0.463932,0.171827
4999,-0.399113,-0.624375,-0.699754,0.267676,0.290320,-0.187352,-0.268409,12.281434,-0.493495,-0.689705,...,0.109652,0.312904,1.087768,-0.179926,-0.312507,-0.514572,-0.076781,-0.444677,-0.205555,0.902733
5000,-0.309274,-0.751505,-0.503450,-0.228432,0.212428,0.192981,-0.275147,-0.113156,-0.314065,-0.597295,...,-0.038807,0.297222,-0.690804,0.997719,0.458868,0.096567,-0.270944,-0.246162,0.747395,0.130161

In [67]:
# 결과 예측

result = aml.predict_proba(test)
result = pd.DataFrame(result, columns=['F20-', 'F30', 'F40+', 'M20-', 'M30', 'M40+'], index=list(test.index.values))
result.describe()

Parse progress: |█████████████████████████████████████████████████████████| 100%
gbm prediction progress: |████████████████████████████████████████████████| 100%

,F20-,F30,F40+,M20-,M30,M40+
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000
mean,0.116766,0.086711,0.089066,0.131946,0.254894,0.320618
std,0.026277,0.016094,0.010613,0.025622,0.028316,0.050578
min,0.054544,0.048642,0.060170,0.074155,0.173253,0.209930
25%,0.100831,0.075128,0.081602,0.114834,0.235358,0.284805
50%,0.113363,0.084750,0.088484,0.126306,0.254081,0.306575
75%,0.129145,0.096144,0.095691,0.139171,0.273525,0.351487
max,0.209444,0.175525,0.143860,0.214929,0.379755,0.534149

In [69]:
# 결과 csv로 저장

result.to_csv('test_result.csv')

### EoD.